<h3>Choose your location</h3>
<p>Select a delivery location to see product availability and delivery options</p>
<button type="button" class="btn btn-warning">Sign In to see your address</button>
<p>or enter an Indian Pin Code</p>
<div class="form">
    <div class="row">
        <div class=" form-group col-lg-6">
            <form [formGroup]="pincodeform">
            <input formControlName="pinCode" type="text" class="form-control" name="pinCode" required minlength="6" #box>
            <div *ngIf="pincodeform.errors?.['required']">
                Pincode is required.
              </div>
              <div *ngIf="pincodeform.errors?.['minlength']">
                PinCode must be at least 6 digits.
              </div>
            </form>
        </div>
        <div class="col-lg-6">
            <button type="button" (click)="getUserLocationData(box.value)" class="btn btn-light">Apply</button>
        </div>
    </div>
</div>