<div class="signupform">
  <h3 class="heading">SignUP Form</h3>
  <div class="form">
    <form [formGroup]="SignUpForm" (ngSubmit)="onSubmit()" class="form-container">
      <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input formControlName="firstName" [ngClass]="{'is-invalid': submitted && SignUpForm.controls.firstName.errors}"
          type="text" class="form-control" placeholder="Enter First Name">
        <div *ngIf="submitted && SignUpForm.controls.firstName.errors" class="text-danger">
          <div *ngIf="submitted && SignUpForm.controls.firstName.errors.required">
            First Name is required
          </div>
          <div *ngIf="submitted && SignUpForm.controls.firstName.errors.pattern">
            Please Enter valid Name
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Middle Name</label>
        <input formControlName="middleName" type="text" class="form-control" placeholder="Enter Middle Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Last Name</label>
        <input formControlName="lastName" [ngClass]="{'is-invalid': submitted && SignUpForm.controls.lastName.errors}"
          type="text" class="form-control" placeholder="Enter Last Name">
        <div *ngIf="submitted && SignUpForm.controls.lastName.errors" class="text-danger">
          <div *ngIf="submitted && SignUpForm.controls.lastName.errors.required">
            Last Name is required
          </div>
          <div *ngIf="submitted && SignUpForm.controls.lastName.errors.pattern">
            Please Enter valid Name
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input formControlName="email" [ngClass]="{'is-invalid': submitted && SignUpForm.controls.email.errors}"
          type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email">
        <div *ngIf="submitted && SignUpForm.controls.email.errors" class="text-danger">
          <div *ngIf="submitted && SignUpForm.controls.email.errors.required">
            Email is required
          </div>
          <div *ngIf="submitted && SignUpForm.controls.email.errors.pattern">
            Please provide a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Mobile No</label>
        <input formControlName="mobileNo" [ngClass]="{'is-invalid': submitted && SignUpForm.controls.mobileNo.errors}"
          type="text" class="form-control" placeholder="Enter Mobile No">
        <div *ngIf="submitted && SignUpForm.controls.mobileNo.errors" class="text-danger">
          <div *ngIf="submitted && SignUpForm.controls.mobileNo.errors.required">
            Mobile No is required
          </div>
          <div *ngIf="submitted && SignUpForm.controls.mobileNo.errors.minlength">
            Phone number must be atleast 10 digits
          </div>
          <div *ngIf="submitted && SignUpForm.controls.mobileNo.errors.maxlength">
            Phone number must be maximum 10 digits
          </div>
          <div *ngIf="submitted && SignUpForm.controls.mobileNo.errors.pattern">
            Please provide a valid number
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input formControlName="password" [ngClass]="{'is-invalid': submitted && SignUpForm.controls.password.errors}"
          type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <div *ngIf="submitted && SignUpForm.controls.password.errors" class="text-danger">
          <div *ngIf="submitted && SignUpForm.controls.password.errors.required">
            Password is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"> Confirm Password</label>
        <input formControlName="confirmPassword"
          [ngClass]="{'is-invalid': submitted && SignUpForm.controls.confirmPassword.errors}" type="password"
          class="form-control" id="exampleInputPassword1" placeholder=" Confirm Password">
        <div *ngIf="submitted && SignUpForm.controls.confirmPassword.errors" class="text-danger">
          <div *ngIf="submitted && SignUpForm.controls.confirmPassword.errors.required">
            Confirm Password is required
          </div>
          <div *ngIf="submitted && SignUpForm.controls.confirmPassword.errors.MustMatch">
            Confirm your password
          </div>
        </div>
      </div>
      <button type="submit" [disabled]="!SignUpForm.valid" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>