<div class="container-fluid">
  <h3 class="heading">SignUP Form</h3>
  <div class="form">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="form-container">
      <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input formControlName="firstName"
          [ngClass]="{'is-invalid': signUpForm.controls.firstName.errors && signUpForm.controls.firstName.touched }"
          type="text" class="form-control" placeholder="Enter First Name">
        <div *ngIf=" signUpForm.controls.firstName.errors && signUpForm.controls.firstName.touched" class="text-danger">
          <div *ngIf="signUpForm.controls.firstName.errors.required">
            First name is required
          </div>
          <div *ngIf=" signUpForm.controls.firstName.errors.minlength">
            It shoud be minimum four character.
          </div>
          <div *ngIf=" signUpForm.controls.firstName.errors.pattern">
            Please enter valid name
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Middle Name</label>
        <input formControlName="middleName" type="text" class="form-control" placeholder="Enter Middle Name">

      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Last Name</label>
        <input formControlName="lastName"
          [ngClass]="{'is-invalid': signUpForm.controls.lastName.errors && signUpForm.controls.lastName.touched}"
          type="text" class="form-control" placeholder="Enter Last Name">
        <div *ngIf="signUpForm.controls.lastName.errors && signUpForm.controls.lastName.touched" class="text-danger">
          <div *ngIf=" signUpForm.controls.lastName.errors.required">
            Last name is required
          </div>
          <div *ngIf="signUpForm.controls.lastName.errors.pattern">
            Please enter valid name
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email Address</label>
        <input formControlName="email"
          [ngClass]="{'is-invalid':signUpForm.controls.email.errors && signUpForm.controls.email.touched}" type="email"
          class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <div *ngIf="signUpForm.controls.email.errors && signUpForm.controls.email.touched" class="text-danger">
          <div *ngIf="signUpForm.controls.email.errors.required">
            Email is required
          </div>
          <div *ngIf=" signUpForm.controls.email.errors.pattern">
            Please provide a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Mobile No</label>
        <input formControlName="mobileNo"
          [ngClass]="{'is-invalid': signUpForm.controls.mobileNo.errors && signUpForm.controls.mobileNo.touched}"
          type="text" class="form-control" placeholder="Enter Mobile No">
        <div *ngIf="signUpForm.controls.mobileNo.errors && signUpForm.controls.mobileNo.touched" class="text-danger">
          <div *ngIf=" signUpForm.controls.mobileNo.errors.required">
            Mobile No is required
          </div>
          <div *ngIf="signUpForm.controls.mobileNo.errors.minlength">
            Phone number must be atleast 10 digits
          </div>
          <div *ngIf=" signUpForm.controls.mobileNo.errors.maxlength">
            Phone number must be maximum 10 digits
          </div>
          <div *ngIf=" signUpForm.controls.mobileNo.errors.pattern">
            Please provide a valid number
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input formControlName="password"
          [ngClass]="{'is-invalid': signUpForm.controls.password.errors && signUpForm.controls.password.touched}"
          type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <div *ngIf="signUpForm.controls.password.errors && signUpForm.controls.password.touched" class="text-danger">
          <div *ngIf="signUpForm.controls.password.errors.required">
            Password is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"> Confirm Password</label>
        <input formControlName="confirmPassword"
          [ngClass]="{'is-invalid': signUpForm.controls.confirmPassword.errors && signUpForm.controls.confirmPassword.touched}"
          type="password" class="form-control" id="exampleInputPassword1" placeholder=" Confirm Password">
        <div *ngIf="signUpForm.controls.confirmPassword.errors && signUpForm.controls.confirmPassword.touched"
          class="text-danger">
          <div *ngIf="signUpForm.controls.confirmPassword.errors.required">
            Confirm Password is required
          </div>
          <div *ngIf="signUpForm.controls.confirmPassword.errors.ConfirmValidator">
            Passsword and Confirm Password didn't match
          </div>
        </div>
      </div>
      <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>