<div class="main-sec">
    <div class="header-sec">
        <div class="left-header">
            <ul class="logo-container">
                <li>
                    <a href="#">
                        <img class="header-img mr-2" src="assets/images/img1.png">
                    </a>
                </li>
            </ul>
            <ul class="search-container">
                <li class="search-group">
                    <form class="search-icon-form">
                        <input class="search-field" type="text" placeholder="Search product here">
                        <div class="search-icon">
                            <button><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        <div class="account-sec">
            <ul>
                <li><a href="">Sell</a><span class="item">|</span></li>
                <li>
                    <i class="fa fa-user mr-2" aria-hidden="true"></i>
                    <a (click)="toggleDialogueModel()">Account
                        <span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                    </a><span class="item">
                        |</span>
                </li>
                <ul class="dropdown-list account guest">
                    <li *ngIf="isDialogueOpen">
                        <div class="modal-dialog">
                            <label class="account-text">ACCOUNT</label>

                        </div>
                        <div class="mt-2"><span class="cart-text">Manage Cart, Orders & Wishlist</span></div>
                        <div class="">
                            <a href="" class="btn btn-sec">Sign In </a>
                            <a href="" class="btn btn-sec">Sign Up </a>
                        </div>
                    </li>
                </ul>
                <li><i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i><a
                        >Cart({{totalItem}})</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="sec-row">
    <div *ngIf="products.length>0">
        <div>
            <div class="table-heading">
                <table width="100%">
                    <thead class="heading">
                        <tr>
                            <th>Sr No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Product Price</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img style="width:120px;" src="{{item.imgurl}}"></td>
                            <td class="hidden">${{item.price}}</td>
                            <td>
                                <button class="button" (click)="inc(item)"><i class="fa fa-plus-circle" ari
                                        a-hidden="true"></i></button>
                                <span>{{item.qty}}</span>
                                <button class="button" (click)="dec(item)"><i class="fa fa-minus-circle"
                                        aria-hidden="true"></i></button>
                            </td>
                            <td>${{item.qty * item.price}}</td>
                            <td><button class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <ng-container *ngIf="products.length==0">
        <div class="container">
            <h5>My Cart</h5>
            <div class="text">
                <img style="width: 70px;" src="assets/images/emptycart.png">
                <h4>Your Cart is empty!</h4>
                <h6>Add item to it now</h6>
                <button routerLink="" class="btn btn-primary">Shop Now</button>
            </div>
        </div>
    </ng-container>
</div>